<% @courses.each do |course| %>
  <div>
    <%= course.name %>
    <%= course.price %>
    <%= course.currency %>
    <%= course.type_of_course %>
    <%= course.description %>
    <%= course.public %>
    <%= course.url %>
    <%= course.valididy_period %>
    <%= link_to t("edit"), edit_course_path(course)%>
  </div>
<% end %>
